 <div >
  <img src="assets/business.jpg" class="img-responsive" alt="Jeans" style="width:100%;min-height:350px;max-height:400px;">
  <div class="centered">Welcome</div>
  <div class="centered1">Start exploring</div>
  <div class="btn-toolbar centered2">
  <a *ngIf="!authService.loggedIn()" routerLink="login" class="btn btn-lg btn-success">Login</a>&nbsp;&nbsp;&nbsp;&nbsp;
  <a *ngIf="!authService.loggedIn()" routerLink="register" class="btn btn-lg btn-primary">Register</a>
  </div>
</div> 

<br>
<div class="container-fluid bg-3 text-center">    
    <h3 style="font-family: Georgia, 'Times New Roman', Times, serif;color: brown;">What We Do</h3><br>
    <div class="row">
      <div class="col-sm-3">
       <img src="assets/www.png" class="img-responsive" style="width:75%" alt="Image">
       
        <p>Website</p>
        
      </div>
      <div class="col-sm-3"> 
        <img src="assets/settings.png" class="img-responsive" style="width:75%" alt="Image">
        <p>Tools</p>    
      </div>
      <div class="col-sm-3"> 
        <img src="assets/insight.png" class="img-responsive" style="width:75%" alt="Image">
        <p>Communication</p>    
      </div>
      <div class="col-sm-3"> 
        <img src="assets/responsive.png" class="img-responsive" style="width:75%" alt="Image">
        <p>Design</p>    
      </div>
    </div>
</div>
