<div  style="overflow-x: hidden;">
<table class=" table table-hover">
    <thead>
      <tr class="table-primary">
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-info" *ngFor="let user of newUserService.users">
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.phone}}</td>
        <td class="flex no-wrap">
            <a class="btn btn-outline-primary" (click)="onEdit(user)">
                <i class="material-icons">edit</i>
            </a>&nbsp;&nbsp;
            <a class="btn btn-outline-danger" (click)="onDelete(user._id)">
                <i class="material-icons">delete</i>
            </a>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="center">
    <a  routerLink="../" class="btn btn-lg btn-success">Add User</a>
</div>
  </div>

  
  