<section class="vh-100" style="background-color: #94c7db;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">

              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img
                  src="assets/draw2.png"
                  alt="login form"
                  class="img-fluid" style="border-radius: 1rem 0 0 1rem;"
                />
              </div>
              
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
  
                  <form  #registerForm="ngForm" (ngSubmit)="register()">
  
                    <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">User Registration</h3>
  
                    <div class="form-outline mb-4">
                        <label class="form-label" >Username</label>
                      <input  [(ngModel)]="userName" #name="ngModel"  pattern=".{3,}" name ="userName" class="form-control form-control-lg" [class.is-invalid]="name.invalid && name.touched" required/>
                      <div *ngIf="name.errors && (name.invalid && name.touched)">
                        <small class="text-danger" *ngIf="name.errors.required">Userame is required</small>
                        <small class="text-danger" *ngIf="name.errors.pattern">Username must contain at least 3 characters</small>
                    </div>
                    </div>

                    <div class="form-outline mb-4">
                        <label class="form-label" >Email</label>
                      <input  [(ngModel)]="email" #e="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" name ="email" type="email"  class="form-control form-control-lg" [class.is-invalid]="e.invalid && e.touched" required/>
                      <div *ngIf="e.errors && (e.invalid && e.touched)">
                        <small class="text-danger" *ngIf="e.errors.required">Email is required</small>
                        <small class="text-danger" *ngIf="e.errors.pattern">please give a valid email</small>
                    </div>
                    </div>  
                        
                    <div class="form-outline mb-4">
                      <label class="form-label" >Phone</label>
                    <input [(ngModel)]="phone" #p="ngModel" pattern="[1-9]{1}[0-9]{9}" name ="phone" type="number"  class="form-control form-control-lg"  [class.is-invalid]="p.invalid && p.touched" required/>
                    <div *ngIf="p.errors && (p.invalid && p.touched)">
                      <small class="text-danger" *ngIf="p.errors.required">Phone is required</small>
                      <small class="text-danger" *ngIf="p.errors.pattern">please give a valid phone no.</small>
                  </div>
                  
                  </div> 
                    
                  <div class="form-outline mb-4">
                    <label class="form-label" >Password</label>
                  <input [(ngModel)]="password" #pas="ngModel" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" name ="password" type="password" class="form-control form-control-lg" [class.is-invalid]="pas.invalid && pas.touched" required/>
                  <div *ngIf="pas.errors && (pas.invalid && pas.touched)">
                    <small class="text-danger" *ngIf="pas.errors.required">Password is required</small>
                    <small class="text-danger" *ngIf="pas.errors.pattern">Password must contain at least one number and one uppercase and lowercase letter, and at least 6 characters</small>
                </div>
                </div>  
                    
                <div class="pt-1 mb-4">
                        <button [disabled]='!registerForm.valid' type="submit" class="btn btn-primary btn-lg"
                        style="padding-left: 2.5rem; padding-right: 2.5rem;">Register</button>
                    </div>
                    <p class="mb-5 pb-lg-2" style="color: #393f81;">Already have an account? <a routerLink="/login" style="color: #393f81;">Login here</a></p>
                
                  </form>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>